@import "~https://meyerweb.com/eric/tools/css/reset/reset.css"
@import "index"

body
	font-size: $font-size
	+font-family("sans")

.icon
	display: inline-block
	margin-left: .125rem
	&--football
		color: brown

.control-box
	display: flex
	justify-content: flex-start
	margin: auto
	position: relative
	width: 80%
	section 
		padding: 0 2.5%
		width: 25%
	hr
		border: none
		border-bottom: 1px solid #aaa
.control-box__button
	appearance: none 
	border: 1px solid #aaa
	border-radius: 2px
	font-size: .8rem
	margin: .25rem
	padding: .25rem .5rem
	transition: $global-transition-speed background-color, $global-transition-speed color
	.icon
		transition: $global-transition-speed color
	&:active
		background-color: #eee
	&:disabled
		background-color: #efefef
		color: #aaa
		cursor: not-allowed
		.icon
			color: #aaa
	&--add
		background-color: $add
		border-color: $add
		color: #fff
		&:active
			background-color: darken($add,7.5)
	&--subtract
		background-color: $subtract
		border-color: $subtract
		color: #fff
		&:active
			background-color: darken($subtract,7.5)
.control-box__swapper
	position: absolute
	bottom: -4rem
	left: calc(25% - 10%)
	text-align: center
	button 
		font-size: 1.5rem
		padding: .5rem 1rem
