@import "~https://meyerweb.com/eric/tools/css/reset/reset.css"
@import "index"

body
	font-size: $font-size
	+font-family("sans")

.control-box
	display: flex
	margin: auto
	justify-content: flex-start
	width: 80%
	section 
		width: 22.5%
		padding: 0 5% 0 2.5%