$font-families: (
  "sans": (
    "Roboto",
    Arial,
    sans-serif
  )
);
$font-size: 20px;

$TEAMS: ("bears", "patriots", "saints", "steelers");
$TEAM-THEMES: (
  "bears": (
    "bgColor": "pri",
    "txtColor": "ter",
    "pri": navy,
    "sec": orange,
    "ter": white
  ),
  "patriots": (
    "bgColor": "pri",
    "txtColor": "ter",
    "pri": darkblue,
    "sec": firebrick,
    "ter": white
  ),
  "saints": (
    "bgColor": "pri",
    "txtColor": "ter",
    "pri": darken(#d2b48c, 10),
    "sec": #333,
    "ter": white
  ),
  "steelers": (
    "bgColor": "sec",
    "txtColor": "ter",
    "pri": black,
    "sec": gold,
    "ter": white
  )
);
